body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  min-width: 400px;
}
input{
  padding: 5px;
  display: block;
  margin-bottom: 5px ;
  width: 100%;
  border: 1px solid rgb(87, 82, 82);
  border-radius: 5px;
}
button{
  padding: 5px 20px;
  color: white;
  background-color: rgb(2, 71, 19);
  border-radius: 5px;
  font-weight: bold;
}


ul{
  list-style: none;
  padding-left: 0;
}
li{
  margin: 5px 0;
}
li a{
  text-decoration: none;
  color: rgb(2, 71, 19);
}
li button{
  background-color: rgb(148, 8, 8);
}
#svTab-btn{
  margin-bottom: 5px;
}
